@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <SectionOutlet SectionId="TopSection"></SectionOutlet>

            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

        </div>
        <h1>Nagłówek z MainLayout.razor</h1>
        <article class="content px-4">

            <ErrorBoundary @ref="_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <h1 class="text-danger">Wystąpił nieoczekiwany wyjątek.</h1>
                    <p>Spróbuj ponownie lub skontaktuj się z administratorem.</p>
                </ErrorContent>    
            </ErrorBoundary>
            
        </article>
    </main>
</div>
