<h3>Table</h3>

<table class="table">
    <thead>
        <tr>
            <td>header 1</td>
            <td>header 2</td>
            <td>header 3</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>wiersz 1</td>
            <td>wiersz 2</td>
            <td>wiersz 3</td>
        </tr>
        <tr>
            <td>wiersz 1</td>
            <td>wiersz 2</td>
            <td>wiersz 3</td>
        </tr>
    </tbody>
</table>

@code {

}
