<div class="card" style="width: 18rem;">
    <img src="files/kowalski.png" class="card-img-top" alt="Jan Kowalski" />
    <div class="card-body">
        <h5 class="card-title">Jan Kowalski</h5>
        <p class="card-text">Programista C#/.NET z 25 ltenim doświadczeniem.</p>
        <button class="btn btn-primary">Więcej</button>
    </div>
</div>