<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">Okno modalne</h5>
        <p class="card-text">Treść okna modalnego</p>
        <button class="btn-success">OK</button>
        <br />
        <button class="btn-close">X</button>
        <br />
    </div>    
</div>

@* 
<div class="modal" style="width: 18rem">
    <div class="modal-body">
        <h5 class="modal-header">Okno modalne</h5>
        <p class="modal-content">Treść okna modalnego</p>
        <button class="btn-success">OK</button>
        <button class="btn-close">Close</button>

    </div>
</div> *@