@page "/counter"


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br/>

<button class="btn btn-primary  my-3" @onclick="ToggleActive">
    Przełącz tryb
</button>
@if(_isActive){
    <p class="text-light bg-success p-2">AKTYWNY</p>
}
else
{
    <p class="text-light bg-danger p-2" >NIEAKTYWNY</p>
}

<p class="text-light bg-info p-2">Ten produkt jest : @(_isActive ?"AKTYWNY!" :"NIEAKTYWNY!" )</p>

<p class="text-light @(_isActive ? "bg-success" : "bg-danger" ) p-2">Ten produkt jest : @(_isActive ? "AKTYWNY!" : "NIEAKTYWNY!")</p>


<Table>

</Table>
