@page "/homework/"
@page "/homework-par/{header?}"

<PageTitle>Home Work</PageTitle>
<br />
<br />
<ModalWindow>
</ModalWindow>

@if (Header == null)
{
    <h1>Praca domowa </h1>
}
else
{
    <h1>Komunikat : @Header</h1>
}


<button class="btn btn-dark m-4" @onclick="ToMainPage">Strona główna</button>