@page "/javascript"

<h3>JavaScript</h3>

<button class="btn btn-info btn-lg mt-3"
   @onclick="DisplayAlert" >Wyświetl Alert (JavaScript)</button>

<br/>

<button class="btn btn-info btn-lg mt-3"
        @onclick="DisplayConfirmDialog">
    Wyświetl Potwierdzenie (JavaScript)
</button>
@if (_dialogResult)
{
    <p class="text-success mt-2" > Potwierdzono !</p>
}
else
{
    <p class="mt-2">Oczekiwanie na potwierdzenie...</p>
}

<br/>
<button class="btn btn-info btn-lg mt-3"
        @onclick="ShowResultJS">
    Wyświetl wynik dodawania (JavaScript)
</button>

<hr />
<br />
<button class="btn btn-dark btn-lg mt-3"
        @onclick="ShowResultCSharp">
    Wyświetl wynik dodawania (Wywoał C# w JavaScript)
</button>

<br />
<button class="btn btn-dark btn-lg mt-3"
        @onclick="ShowDate">
    Wyświetl datę (Wywoał C# w JavaScript)
</button>

@if (!string.IsNullOrWhiteSpace(_currentDate))
{
    <p class="text-success mt-2">Date : @_currentDate</p>
}